.protfolio_text_p{
    color: #ff014f;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.2em;
}
#protfolioTitle{
    position: relative;
    margin-bottom: 60px;
}
#protfolioTitle::before{
    content: '';
    position: absolute;
    background-color: #ff014f;
    height: 5px;
    width: 100px;
    left: 300px;
    top: 45px;
}
#protfolioTitle::after{
    content: '';
    position: absolute;
    background-color: #ff014f;
    height: 5px;
    width: 100px;
    right: 300px;
    top: 45px;
}
.protfolio_info{
    text-align: start;
    padding: 12px 0px;
}
.protfolio_info span{
    color: #ff014f;
    font-weight: 500;
    letter-spacing: 1px;
}
.protfolio_info h6{
    color: #c4cfde;
    letter-spacing: 1.2px;
    text-align: justify;
    padding: 10px 0px;
    line-height: 25px;
}
.protfilo_btn button{
    color: #c4cfde;
    background-color: transparent;
    font-weight: 400;
    letter-spacing: 0.8px;
    border: 2px solid #ff014f;
    margin: 0px 8px;
    padding: 6px 20px;
    position: relative;
    z-index: 1;
}
.protfilo_btn button a {
    text-decoration: none;
    color: #c4cfde;
}
.protfilo_btn button::after{
    content: '';
    position: absolute;
    background-color: #ff014f;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    transition: 0.6s linear;
    z-index: -1;
}
.protfilo_btn button a:hover{
    color: #ffffff;
}
.protfilo_btn button:hover::after{
    width: 100%;
}
.img_container{
    position: relative;
    overflow: hidden;
}
.img_container img {
    transition: all 0.6s ease-in;
}
.img_container:hover img{
    transform: scale(1.2);
}
.img_desc{
    background:#880c2fa9;
    color: #ffffff;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 3px;
    left: -100%;
    transition: all 0.6s ease-in;
}
.img_container:hover .img_desc{
    left: 0;
}
.seeDetails_btn{
    color :#c4cfde;
    transition: all 0.6s ease-in;
}
.seeDetails_btn:hover {
    color: #ffffff;
    transform: translateX(4px);
}
.modatTitle{
    color: #c4cfde;
    font-size: 1.8em;
    letter-spacing: 3px;
    margin: 0 auto;
}
.modal_text_p{
    color: #c4cfde;
    letter-spacing: 1px;
    font-size: 1.1em;
}
@media only screen and (max-width:668px) {
    .protfolio_text_p{
        font-size: 1em;
    }
    .protfilo_btn button{
        letter-spacing: 0.5px;
        margin: 0px 5px;
        padding: 6px 10px;
    }
    #protfolioTitle::before{
        display: none;
    }
    #protfolioTitle::after{
        display: none;
    }
}